.left-side {
  width: 34%;
  height: 100%;
  background-color: #3c4048;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeeee;
  padding: 3rem;
  gap: 3rem;
}
.right-side {
  width: 65%;
  height: 100%;
  color: #3c4048;
  padding: 2rem;
  padding-top: 6rem;
}
.profile-photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: 1rem;
}
.about-title {
  font-weight: 600;
}
.about-text {
  font-size: 0.7rem;
  line-height: 1.6;
  margin-top: 1rem;
}
.about {
  border-bottom: 2px solid #626977;
  padding-bottom: 3rem;
}
.social-media-title {
  font-weight: 600;
}
.link {
  margin-top: 1.5rem;
  line-height: 1.3;
  font-size: 0.8rem;
}
.personal-info {
  display: flex;
  gap: 3rem;
  border-bottom: 2px solid #626977;
  padding-bottom: 2rem;
}
.name-title {
  max-width: 12rem;
  padding-top: 0.5rem;
}
.name {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.contact {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
.address {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.phone {
  margin-bottom: 0.5rem;
}
.mail {
  margin-bottom: 0.5rem;
}
.logo {
  margin-right: 0.5rem;
  transform: translateY(2px);
}
.person-title {
  font-weight: 400;
  font-size: 0.85rem;
  text-transform: uppercase;
}
/* experience section */
.experiences {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #626977;
}
.experience {
  padding-top: 2rem;
  display: flex;
  gap: 3rem;
}
.experience-title {
  font-weight: 600;
}
.date-city-company {
  width: 100%;
  line-height: 1.4;
  max-width: 24%;
}
.company {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.city {
  font-size: 0.8rem;
}
.date {
  font-size: 0.8rem;
}
.job-description {
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}
.job-title {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
}
.description {
  font-size: 0.8rem;
}
.educations {
  padding-top: 2rem;
}
.education {
  padding-top: 2rem;
  display: flex;
  gap: 3rem;
}
.education-title {
  font-weight: 600;
}
.uni-city-date {
  width: 100%;
  line-height: 1.4;
  max-width: 24%;
}
.university {
  font-weight: 600;
  text-transform: uppercase;
}
.edu-description {
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}
.program-name {
  font-weight: 600;
  text-transform: capitalize;
}
.program-description {
  font-size: 0.8rem;
}
.print {
  position: absolute;
  top: 75px;
  left: 65%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #eeeeee;
  background-color: #3c4048;
  border-radius: 7px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s;
}
.print:hover {
  scale: 1.1;
}
