.main {
  gap: 3rem;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.cv-form {
  height: 150vh;
  width: 794px;
  background-color: #eeeeee;
  color: #3c4048;
}
.cv-preview {
  height: 1123px;
  width: 794px;
  box-shadow: -9px 1px 28px 7px rgba(0, 0, 0, 0.35);
  position: sticky;
  top: 1rem;
  display: flex;
}
